.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 10px 33.4px rgba(0, 0, 0, 0.086),
    0 5px 5px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    border-radius: 10px; 
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


