.product {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #fff;
    z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
    font-family: "Amazon Ember",Arial,sans-serif !important;
    width: 170px;
    height: 35px;
    background: #F0C14B;
    border-color: #A88734 #9C7E31 #846A29;
    border: 1px solid darkgray;
    margin-top: 10px;
    background: #F4E3B7;
    background-image: -webkit-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -moz-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -ms-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -o-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: linear-gradient(to bottom, #F4E3B7, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    color: #000000;
    font-size: 13px !important;
    border: solid #A88734 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.product > button:hover {
    border: solid #A88734 1px;
    background: #E3D1A4;
    background-image: -webkit-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -moz-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -ms-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -o-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: linear-gradient(to bottom, #E3D1A4, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.product > button:focus {
  outline: none;
}

.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__rating {
  display: flex;
  font-size: 12px;
}

.starIcon {
  color: rgb(232,193,32);
  color: linear-gradient(180deg, rgba(232,193,32,1) 0%, rgba(224,212,91,1) 52%, rgba(255,222,0,1) 100%);
}
