.basketitem__image > img {
    width: 180px;
    margin-right: 30px;
    transition: 350ms;
}

.basketitem__image > img:hover{
    transform: scale(1.07);
    cursor: pointer;
}

.basketitem {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.basketitem__title {
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 5px;
}

.basketitem__info {
    display: flex;
    flex-direction: column;
}

.basketitem__remove {
    font-family: "Amazon Ember",Arial,sans-serif !important;
    width: 170px;
    height: 35px;
    background: #F0C14B;
    border-color: #A88734 #9C7E31 #846A29;
    border: 1px solid darkgray;
    margin-top: 10px;
    background: #F4E3B7;
    background-image: -webkit-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -moz-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -ms-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -o-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: linear-gradient(to bottom, #F4E3B7, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    color: #000000;
    font-size: 13px !important;
    border: solid #A88734 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.basketitem__remove:hover {
    border: solid #A88734 1px;
    background: #E3D1A4;
    background-image: -webkit-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -moz-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -ms-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -o-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: linear-gradient(to bottom, #E3D1A4, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.basketitem__remove:focus {
  outline: none;
}

.basketitem__rating {
    display: flex;
    padding-top: 5px;
}

.starIcon {
    width: 17px !important;
}
