.payment {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__container {
    font-family: "Amazon Ember",Arial,sans-serif !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 10px 33.4px rgba(0, 0, 0, 0.086),
    0 5px 5px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    border-radius: 10px; 
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.payment__container > h1 a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address, .payment__items, .payment__details {
    flex: 0.8;
}

.payment__details > form {
    max-width: 400px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment__cardInfo {
    height: 30px !important;
}

.payment__details > h4 {
    padding-bottom: 20px;
}

.payment__button  {
    font-family: "Amazon Ember",Arial,sans-serif !important;
    width: 100%;
    height: 35px;
    background: #F0C14B;
    border-color: #A88734 #9C7E31 #846A29;
    border: 1px solid darkgray;
    margin-top: 10px;
    background: #F4E3B7;
    background-image: -webkit-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -moz-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -ms-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: -o-linear-gradient(top, #F4E3B7, #F0C14B);
    background-image: linear-gradient(to bottom, #F4E3B7, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    color: #000000;
    font-size: 13px !important;
    border: solid #A88734 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.payment__button:hover {
    border: solid #A88734 1px;
    background: #E3D1A4;
    background-image: -webkit-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -moz-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -ms-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: -o-linear-gradient(top, #E3D1A4, #F0C14B);
    background-image: linear-gradient(to bottom, #E3D1A4, #F0C14B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightgreen transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
